# IDE/editor configs
.bloop/
.metals/
.vscode/
.bsp/

# Build artifacts (recursive)
**/target/
**/.bloop/
**/.metals/
**/.ammonite/

# VS Code workspace settings
*.code-workspace

# MacOS artifacts
.DS_Store

# Logs
logs/
*.log

# IntelliJ IDEA
.idea/
*.iml
out/