# IDE/editor configs
.bloop/
.metals/
.vscode/
.bsp/

# Scala/Java build files
target/
project/target/
project/project/
ranking-api/target
ranking-config/target
ranking-core/target
ranking-tests/target